body {
    background-color: rgba(128, 115, 0, 0.562);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
}

.barra1 {
    height: 100px;
    background-color: #5c8f4dcc;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

section{
    border: 1px solid rgba(90, 58, 86, 0.651);
    border-radius: 6px;
    background-color: rgba(90, 58, 86, 0.651);
    height: 500px;
    margin: 90px auto;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn {
    --color: rgb(0, 0, 0);
    --color2: rgb(7, 160, 211);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: 6px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    bottom: 240px;
    z-index: 1;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    display: inline-block;
    margin-bottom: 30px ;
}

.btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}
   
.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
   
.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%) translateX(-10px);
}
   
.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%) translateX(10px);
}

.btn:hover {
    color: var(--color2);
}
   
.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}